<div class="container">
    <div class="input-container">
        <div class="input-group mb-3">
            <input [(ngModel)]="newAppointmentTitle" type="text" class="form-control" placeholder="Add Appointment">
        </div>
        <div class="input-group mb-3">
            <input [(ngModel)]="newAppointmentDate" type="date" class="form-control">
        </div>
        <button (click)="addAppointment()" type="button" class="btn btn-light">Add</button>
   </div>

   <ul class="list-container">
    <div class="d-flex list align-items-center justify-content-between mb-3" *ngFor="let appointment of appointments; index as i">
        <li class="me-3">{{ appointment.title }} {{ appointment.date | date: 'dd.MM.yyyy' }}</li>
        <button (click)="deleteAppointment(i)" type="button" class="btn btn-light">Remove</button>
    </div>
</ul>
</div>